@tailwind base;
@tailwind components;
@tailwind utilities;

/* color variables */
:root {
    --basecolor: #0099cc;
    --darkbasecolor: #0084b0;
    --slate: #64748b;
}
/* <a> tag styling starts */
.deskLinks{
    @apply relative w-fit text-slate-500 hover:text-basecolor origin-left duration-150;
}
.deskLinks::before{
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    width: 0;
    height: 4px;
    background-color: var(--darkbasecolor);
    transition: all 0.5s;
}
.deskLinks:hover::before{
    width: 100%;
    left: 0;
}
.map:hover{
    color: var(--darkbasecolor);
    transform: scale(1.05);
    transform-origin: center;
    transition: all 0.5s;
}
/* <a> tag styling ends */

/* Prevent text selection */
.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* hamberger-icon */
.icon{
    position: relative;
}
.icon span{
    position: absolute;
    height: 3px;
    width: 100%;
    top: 0;
    left: 0;
    transform: rotate(0deg);
    background-color: white;
    transition: all 0.3s ease-out;
    border-radius: 0px 10px 10px 0px;
}
.icon .bar2{
    width: 85%;
    transform: translateY(11px);
}
.icon .bar3{
    width: 75%;
    transform: translateY(22px);
}
.iconopen .bar1{
    transform: rotate(45deg) translateY(10px) translateX(10px);
    border-radius: 10px;
}
.iconopen .bar2{
    width: 100%;
    transform: rotate(-45deg) translateY(10px) translateX(-10px);
    border-radius: 10px;
}
.iconopen .bar3{
    display: none;
}
/* Menu */
.trans{
    transform: translateX(0);
    transition: all 0.5s;
}
/* Location */
.locationOpen{
    transform: translateX(0);
    transition: all 0.5s;
}

/* On mouse enter change the color of hamgerber bars */
.barsInvert{
    background-color: #0099CC;
    transition: all 0.5s; 
}
/* Location icon */
.location{
    color: #fff;
    transition: all 0.5s;
}
.location:hover{
    color: #0099CC;
}
/* On mouse enter change the color of location icon */
.locationInvert{
    color: #0099CC;
    transition: all 0.5s;
}
/* On mouse enter change the navigation background color */
.navigation-background{
    background-color: white;
    transition: all 0.5s;
}
/* Hiding mobile menu sections */
.hideSection {
    max-height: 0vh;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-10px); /* Slight upward shift for smooth effect */
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}